doctype html
html
  head
    title pop dance academy
    block scripts
    block style 
  body
    nav#navbar 
      ul 
        div#logo 
          img(src="/static/logo.png", alt="")
        li #[a(href="/") Home ]
        li #[a(href="/") About ]
        li #[a(href="/") Services ]
        li #[a(href="/") Class Info ]
        li #[a(href="/contact") Contact ]
    block content 
    footer#footer 
      |copy wright popdanceacademy.com | all rights to reserved